/* Add screen styles below */


h1 {
    font-size: 64px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 28px;
    margin: 0;
}
p {
    font-size: 16px;
    margin: 0;
}

ul {
    list-style-type: none;
}

.Project-Card{
    display: flex;
    flex-direction: row;
    background-color: #B5B5B5;
    margin: 20px;


}

.Right-Text{
    padding: 20px;
    margin: 0px;
    text-align: left;


}

img { 
  width:190px;
  height: 190px;
  padding: 20px;

}